@media screen and ( max-width : 768px) {

    nav {
        
        .container {
            max-width: 320px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .button__nav {
                width: 44px;
                height: 37px;
                background-color: black;
                display: flex;
                flex-direction: column;
                border: none;
                align-items: center;
                justify-content: center;
                gap: 2px;
                cursor: pointer;

                .line {
                    width: 17px;
                    height: 2px;

                    background-color: white;
                }

            }

        }

    }


}