@import 'variables';
.recent-posts{
    width: 100%;
    h2 {
        font-weight: 700;
        font-size: 14px;
        color: $subheader-font;
        margin-bottom: 20px;


    }

    .posts{
        display: flex;
        flex-direction: column;
        gap: 20px;
        &__post {
                display: flex;
                flex-direction: column;
                gap: 20px;
        
                &__image {
                    width: 160px;
                }
        
                &__subheader {
                    font-size: 14;
                    font-weight: 700;
                    color: $subheader-font;
        
                }
        
                &__comments {
                    color: $small-font;
                    font-size: 11px;
                    font-weight: 400;
                }
        
            }
        }

    }

    